body{
	background-image: url("foto/bungabunga.jpg");
	width: 1000px;
	height: 1200px;
}

#kotak1{
	width:1250px;
	height:365px;
	background-color: white;
	display:block;
	position: relative;
	left: 50px;
	border: 10px solid #30415e;
}

.kotak2{
	width:600px;
	height:300px;
	background-color: white;
	position: relative;
	border: 10px solid #30415e;
	border-radius: 25px;
}

.line{
	background-color : white;
	width:1270px;
	height:5px;
	position: relative;
}
.satu{
	font-family: "Lucida Console";
	line-height: 0.2em;
}

h2{
	font-family: "Arial Black";
	color:#80ced6;
}

.a{
	font-family: "Impact";
	text-align: center;
	text-shadow: 3px 2px #034f84;
}

.ed{
	padding-left: auto;
	padding-right: auto;
	font-family:"comic sans ms";
	font-size:18pt;
	color :#034f84;
	margin-right: 20px;
	margin-left: 20px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ffbfc8;
   color: white;
   position: fixed;
   text-align: center;
   display: block;
}
